<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="41421C9F-E233-480D-893E-63A792A63FFE" Language="1033"
         Manufacturer="Bob -- K6RWY" Name="RacesDB"
         Version="!(bind.fileVersion.RacesDB.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob -- K6RWY" Description="Installs RacesDB"
           Comments="Copyright (c) Bob -- K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="RWracesDBUIIcon.ico" SourceFile="$(var.SolutionDir)..\SrcFiles\res\RWracesDBUI.ico"/>
  <Icon     Id="RWracesDBIcon.ico" SourceFile="$(var.SolutionDir)..\SrcFiles\res\RWracesDB.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="RWracesDBUIIcon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="RacesDB.ftr"/>
    <ComponentGroupRef Id="UninstallRacesDB.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="RacesDB.ftr">
  <ComponentRef Id="RacesDB.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallRacesDB.ftr">
  <ComponentRef Id="UninstallRacesDB.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="RWracesDB.pff" Name="RWracesDB" />
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="StartMenu">
      <Directory Id="RWracesDB.pmf" Name="RWracesDB" />
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="RWracesDB" />
  <Property Id="WIXUI_INSTALLDIR"      Value="RWracesDB.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="RacesDB.cmp"  Guid="115607F4-F4F4-43CB-8E4C-04C0B4EA2B48" Directory="RWracesDB.pff">
    <File Id="RacesDB.cmp" Source="$(var.SolutionDir)..\Release\RWracesDB.exe" KeyPath="yes"/>

    <Shortcut Id               = "RacesDB.shc"
              Name             = "RacesDB"
              Description      = "Races Database Manipulation"
              Advertise        = "yes"
              Directory        = "RWracesDB.pmf"
              WorkingDirectory = "RWracesDB.pff"
              Icon             = "RWracesDBIcon.ico"
              />

    <Shortcut Id               = "RacesDB.dsk"
              Name             = "RacesDB"
              Description      = "Races Database Manipulation"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "RWracesDB.pff"
              Icon             = "RWracesDBIcon.ico"
              />
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallRacesDB.cmp" 
                                Guid="BB100A6C-7D65-46EF-9213-94CFA973BC84" Directory="RWracesDB.pmf">

    <Shortcut Id               = "UninstallRacesDB.shc"
              Name             = "Uninstall RacesDB"
              Description      = "Uninstalls RacesDB"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "RWracesDBUIIcon.ico"
              />
    <RemoveFolder Id="RWracesDB.uni" Directory="RWracesDB.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallRacesDB.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
