<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="41421C9F-E233-480D-893E-63A792A63FFE" Language="1033"
                Manufacturer="Bob -- K6RWY" Name="RacesDB"
                Version="!(bind.fileVersion.RacesDB.cmp)"
                >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
                Manufacturer="Bob -- K6RWY" Description="Installs RacesDB"
                Comments="Copyright (c) Bob -- K6RWY"
                />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                />

  <MediaTemplate EmbedCab="yes" />

  <WixVariable Id="WixUILicenseRtf"
                              Value="$(var.SolutionDir)..\..\Library\License\MITLicenseFile.rtf" />
  <UI Id="My_InstallDir.ui"><UIRef Id="WixUI_InstallDir" /></UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="RWracesDBUIIcon.ico"
                 SourceFile="$(var.SolutionDir)..\..\RWracesDB\RWracesDB.prj\res\RWracesDBUI.ico"/>
  <Icon     Id="RWracesDBIcon.ico"
                   SourceFile="$(var.SolutionDir)..\..\RWracesDB\RWracesDB.prj\res\RWracesDB.ico"/>
  <Icon     Id="MITLicense_Icon.exe"
                              SourceFile="$(var.SolutionDir)..\..\Library\License\MITLicense.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="RWracesDBUIIcon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="RacesDB.ftr"/>
    <ComponentGroupRef Id="License.ftr"/>
    <ComponentGroupRef Id="Uninstall_RacesDB.ftr"/>
  </Feature>
</Product>

<Fragment>
  <ComponentGroup Id="RacesDB.ftr">
    <ComponentRef Id="RacesDB.cmp"/>
    <ComponentRef Id="Help.cmp"/>
  </ComponentGroup>
  <ComponentGroup Id="License.ftr">
    <ComponentRef Id="MIT_License.cmp"/>
  </ComponentGroup>
  <ComponentGroup Id="Uninstall_RacesDB.ftr">
    <ComponentRef Id="Uninstall_RacesDB.cmp"/>
  </ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="RWRACESDB.PFF" Name="RWracesDB" />
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="RWracesDB.pmf" Name="RWracesDB" />
    </Directory>

    <Directory Id="DesktopFolder" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="RWracesDB" />
  <Property Id="WIXUI_INSTALLDIR"      Value="RWRACESDB.PFF"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>
  <Component Id="RacesDB.cmp" Guid="115607F4-F4F4-43CB-8E4C-04C0B4EA2B48"
                                                                         Directory="RWRACESDB.PFF">
    <File Id="RacesDB.cmp" Source="$(var.SolutionDir)..\Release\RacesDB.exe" KeyPath="yes"/>

    <Shortcut Id               = "RacesDB.shc"
              Name             = "RacesDB"
              Description      = "Races Database Manipulation"
              Advertise        = "yes"
              Directory        = "RWracesDB.pmf"
              WorkingDirectory = "RWRACESDB.PFF"
              Icon             = "RWracesDBIcon.ico"
              />

    <Shortcut Id               = "RacesDB.dsk"
              Name             = "RacesDB"
              Description      = "Races Database Manipulation"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "RWRACESDB.PFF"
              Icon             = "RWracesDBIcon.ico"
              />
  </Component>

  <Component Id="Help.cmp" Guid="0D21FFAA-5717-4755-A88D-522CB588D9BC" Directory="RWRACESDB.PFF">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\RacesDB.chm" KeyPath="yes"/>
  </Component>
</Fragment>

<Fragment>
  <Component Id="MIT_License.cmp" Guid="F9DF0631-7B70-4FBB-A252-8CAFD8368581"
                                                                         Directory="RWRACESDB.PFF">
    <File Id="MIT_License.cmp"
                Source="$(var.SolutionDir)..\..\Library\License\MITLicenseFile.rtf" KeyPath="yes"/>

    <Shortcut Id               = "MITLicense.shc"
              Name             = "MIT License"
              Advertise        = "yes"
              Directory        = "RWracesDB.pmf"
              WorkingDirectory = "RWRACESDB.PFF"
              Icon             = "MITLicense_Icon.exe"
              />
  </Component>
</Fragment>

<Fragment>
  <Component Id="Uninstall_RacesDB.cmp" Guid="EEB56B5D-8B28-4ACA-BFB2-2F4FC40E0500"
                                                                         Directory="RWracesDB.pmf">

    <Shortcut Id               = "UninstallRacesDB.shc"
              Name             = "Uninstall RacesDB"
              Description      = "Uninstalls RacesDB"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "RWracesDBUIIcon.ico"
              />
    <RemoveFolder Id="RWracesDB.uni" Directory="RWracesDB.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Uninstall_RacesDB.cmp"
                                          Name="installed" Type="integer" Value="1" KeyPath="yes"/>
  </Component>
</Fragment>
</Wix>
